<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
        {% endblock head %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
  </head>

  <body>

      <!-- ------------------- HEADER --------------------- -->

      <section id="header">
          <div id="title-container">
              <img id="logo" src="/theme/images/logo.png">
              <div id="title">
                  <h1 id="site-title">GNU/Linux User Group</h1>
                  <h2 id="site-subtitle">Association for Computing Machinery<br>University of Illinois at Urbana-Champaign</h2>
              </div>
          </div>
          <nav id="navbar">
              <ul>
                {% if DISPLAY_MENUITEMS_ON_MENU %}
                {% for title, link, foo in MENUITEMS %}
                <li><a href="{{ link }}"><i class="fa fa-coffee"></i>{{ title }}</a></li>
                {% endfor %}
                {% endif %}

                {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                <li class="pure-menu-item{% if p == page %} pure-menu-selected{% endif %}"><a href="{{ SITEURL }}/{{ p.url }}" class="pure-menu-link">{{ p.title }}</a></li>
                {% endfor %}
                {% endif %}

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                <li class="pure-menu-item{% if cat == category %} pure-menu-selected{% endif %}"><a href="{{ SITEURL }}/{{ cat.url }}" class="pure-menu-link">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
              </ul>
          </nav>
      </section>

      <!-- ------------------- CONTENT --------------------- -->

      <section id="content">
      {% block content %}
      {% endblock %}
      </section>

      <!-- ------------------- FOOTER --------------------- -->

    <footer class="index-footer">

        {% if DISPLAY_SITEURL_ON_FOOTER %}
        <a href="{{ SITEURL }}/" title="{{ SITENAME|striptags }}">{{ SITENAME }}</a>
        {% endif %}
        {% if DISPLAY_MENUITEMS_ON_FOOTER %}
        {% for title, link in MENUITEMS %}
        <a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_PAGES_ON_FOOTER %}
        {% for p in PAGES %}
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_FOOTER %}
        {% for cat, null in categories %}
        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_LINKS_ON_FOOTER %}
        {% for title, link in LINKS %}
        <a href="{{ link }}">{{ title }}</a>
        {% endfor %}
        {% endif %}

    </footer>

    {% if GOOGLE_ANALYTICS %}
    {% include "analytics.html" %}
    {% endif %}
</body>
</html>
