@import "fontawesome-all.min.css";

body{
    background-color: white;
    margin: 0;
    font-family: 'Futura-BT';
}

/* ---------- Header ---------- */

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #E87722;
}

#logo {
    height: 8em;
}

#title {
    display: flex;
    flex-direction: column;
}

#site-title {
    color: black;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

#site-subtitle {
    color: white;
    font-size: 1em;
    text-align: center;
}

#navbar {
    background-color: #333838;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: none;
}

#navbar ul {
    display: inline-block;
    margin: 0 auto;
}

#navbar li {
    display: inline-block;
}

#navbar li:hover {
    background-color: #1b1d1d;
}

#navbar a{
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

i.fa {
    margin-right: 0.5em;
}

/* ---------- Content ---------- */

#content {
    background-color: white;
    color: black;
    padding: 2em;
    display: flex;
    justify-content: center;
    height: 100%;
}

.page_text {
    flex-direction: column;
    max-width: 80%;
    display: block;
}

td, th {
    padding: 10px;
    border: solid 1px;
}

/* ---------- Fonts ---------- */

@font-face {
    font-family: 'Futura-BT';
    font-style: normal;
    font-weight: 400;
    src: url(/theme/webfonts/Futura-BT.ttf) format('opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
