<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
	<h2 class="site-subtitle">Association for Computing Machinery @ University of Illinois at Urbana-Champaign</h2>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="{{site.base_url}}/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="{{site.base_url}}/projects.html"><i class="fa fa-wrench"></i>Projects</a></li>
        <li><a href="{{site.base_url}}/meetings.html"><i class="fa fa-coffee"></i>Meeting Info</a></li>
        <li><a href="#"><i class="fa fa-info-circle"></i>Meeting Notes</a></li>
        <li><a href="{{site.base_url}}/blog.html"><i class="fa fa-comment"></i>Blog</a></li>
      </ul>
    </div>
  </nav>
</header>
